@import "~bootstrap/scss/functions";
@import '~bootstrap/scss/bootstrap-grid.scss';

$card-height: 14.0rem;
$card-textsection-padding: 0.66rem;

.lw-main-container {
  margin: 1.0rem 0 2.5rem 0;

  .lw-card {
    height: $card-height;
    border: 1px solid grey;
    background-color: white;

    .lw-card-image {
      display: none;
      background-size: cover;
      background-position: right;
    }

    .lw-card-text {
      padding: 0.7rem 0 0 0.7rem;

      .lw-card-attrs {
        position: absolute;
        right: 1.5rem;
        bottom: 0.5rem;
      }

      .lw-icons {
        padding: 0 0.3rem;

        a {
          color: black;
        }

        a:hover {
          color: darkgray;
        }
      }

      h3 {
        margin: 0;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .lw-main-container {
    margin: 4.0rem 0;

    .lw-card {
      .lw-card-image {
        display: block;
      }
    }

    .lw-back-card {
      background-color: #1C1A1B;
      color: $gray-100;

      .lw-back-initials {
        font-size: 2.5rem;
      }
    }
  }
}
