<div class="row justify-content-center lw-main-container">
  <div class="col-12 col-md-9 col-lg-6">
    <app-flipcard [cardNum]="cardNum" (click)="onMouseClick()"
                  (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <span front>
        <div class="row lw-card">
          <div class="col-4 lw-card-image" [style.background-image]="cardInfo.image">
          </div>
          <div class="col-12 col-sm-8 lw-card-text">
              <div class="row h-50">
                <div class="col">
                  <h3>{{cardInfo.title}}</h3>
                  <span>{{cardInfo.subtitle}}</span>
                </div>
              </div>
              <div class="row h-50 justify-content-end align-items-end">
                <div class="col-auto"
                     (mouseenter)="onMouseEnterRestrictedArea()"
                     (mouseleave)="onMouseLeaveRestrictedArea()">
                  <div class="row">
                    <div class="col-auto lw-icons" *ngFor="let attr of cardInfo.attributes">
                        <a href="{{attr.href}}">
                          <i class="fa {{attr.icon}} fa-3x" aria-hidden="true"></i>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </span>

      <span back>
        <div class="row lw-card">
          <div class="col-12 col-md-9 col-lg-8">
          <!-- insert background image -->
          </div>
        </div>
      </span>
    </app-flipcard>
  </div>
</div>


