@import "_variables";

// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// =-=-=-=-=-=-=-=-=-=-=-=-=- CSS -=-=-=-=-=-=-=-=-=-=-=-=-=
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// Variables

$footer-height: 3.0rem;
$footer-margins: 6.0rem;

// Styling

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height + $footer-margins;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  margin-bottom: 0.66 * $footer-margins;
}

.lw-highlight {
  font-weight: bold;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.lw-visible-gte-xs {
  display: inline-block;
}
.lw-visible-gte-sm {
  display: none;
}
.lw-visible-gte-md {
  display: none;
}
.lw-visible-gte-lg {
  display: none;
}
.lw-visible-gte-xl {
  display: none;
}

.lw-visible-lt-sm {
  display: inline-block;
}
.lw-visible-lt-md {
  display: inline-block;
}
.lw-visible-lt-lg {
  display: inline-block;
}
.lw-visible-lt-xl {
  display: inline-block;
}


@include media-breakpoint-up(sm) {
  .lw-visible-gte-sm {
    display: inline-block;
  }

  .lw-visible-lt-sm {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .lw-visible-gte-md {
    display: inline-block;
  }

  .lw-visible-lt-md {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .lw-visible-gte-lg {
    display: inline-block;
  }

  .lw-visible-lt-lg {
    display: none;
  }
}

@include media-breakpoint-up(xl) {
  .lw-visible-gte-xl {
    display: inline-block;
  }

  .lw-visible-lt-xl {
    display: none;
  }
}
