<div class="fc-wrapper">
  <div class="fc-box" [@flipState]="cardSide">
    <div class="fc-box__side fc-box__front">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-9 col-lg-6 lw-card-shadow" (click)="toggleFlip()">
            <ng-content select="[front]"></ng-content>
          </div>
        </div>
      </div>
    </div>

    <div class="fc-box__side fc-box__back">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-9 col-lg-6 lw-card-shadow" (click)="toggleFlip()">
            <ng-content select="[back]"></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
