<div class="fc-wrapper">
  <div class="fc-box" [@flipState]="cardSide">
    <div class="fc-box__side fc-box__front">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-9 col-lg-6 lw-card-shadow" (click)="toggleFlip()">
            <div class="row lw-card">
              <div class="col-4 lw-card-image">
                <img src="{{cardInfo.image}}">
              </div>
              <div class="col-12 col-sm-8 lw-card-text">
                <h3>{{cardInfo.title}}</h3>
                <span>{{cardInfo.subtitle}}</span>
                <div class="lw-card-attrs">
                  <p *ngFor="let attr of cardInfo.attributes">
                    <a href="{{attr.href}}">{{attr.name}} | {{attr.icon}}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fc-box__side fc-box__back">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-9 col-lg-6 lw-card-shadow" (click)="toggleFlip()">
            <div class="row lw-card">
              <div class="col-12 col-md-9 col-lg-8">
                <!-- insert background image -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
