@import "~bootstrap/scss/functions";
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '../../styles/variables';


.bt-author-date {
  text-align: center;
  margin: 0.5rem 0;
}

.bt-banner {
  margin: 1.0rem 0 2.0rem 0;
  height: 24.0rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $gray-100;
}

:host ::ng-deep {
  h1 {
    text-align: center;
  }
  h2 {
    margin: 3.0rem 0 1.5rem 0;
    font-weight: bold;
    color: $lw-title-blue;
  }
  h3 {
    margin: 1.0rem 0 0.6rem 0;
  }
  h4 {
    margin: 0.5rem 0 0.3rem 0;
  }
  pre {
    background-color: #ddd;
  }
  blockquote {
    margin-left: 0.2rem;
    padding: 0.5rem;
    background-color: #eee;
    font-style: italic;

    p {
      margin-bottom: 0;
    }
  }

  .bt-dir {
    color: gray;
  }
  .bt-file {
    color: darkgray;
  }
  .bt-file, .bt-dir {
    font-weight: bold;
    font-size: 1.0rem;
  }
  .bt-cmd-in {
    color: greenyellow;
  }
  .bt-cmd-out {
    color: white;
  }
  .bt-cmd-in, .bt-cmd-out {
    background-color: black;
  }
  .bt-code, .bt-cmd-in, .bt-cmd-out, .bt-fmt-txt {
    padding: 0.5rem 0 0.5rem 0.5rem;
    font-size: 0.8rem;
  }
  .bt-cmd-out, .bt-code, img, blockquote {
    margin-bottom: 1.5rem;
  }
  .bt-img {
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .bt-highlight-code {
    color: #439696;
    font-weight: bold;
  }
  .bt-fmt-txt {
    background-color: rgba(0,0,0,0);
    font-size: 1rem;
  }
  .bt-underline {
    text-decoration: underline;
  }
}

@include media-breakpoint-up(sm) {
  h1 {
    margin-top: 2.0rem;
  }
}

@include media-breakpoint-up(md) {
  h1 {
    margin-top: 3.5rem;
  }

  .bt-author-date {
    margin: 1.4rem 0;
  }

  .bt-banner {
    margin-bottom: 3.5rem;
  }

  :host ::ng-deep {
    .bt-code, .bt-cmd-in, .bt-cmd-out {
      padding-left: 1.0rem;
    }
    .bt-cmd-out, .bt-code, img, blockquote {
      margin-bottom: 2.0rem;
    }

    blockquote {
      margin-left: 0.5rem;
    }
    h3 {
      margin: 1.5rem 0 1.0rem 0;
    }
    h4 {
      margin: 0.75rem 0 0.5rem 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  h1 {
    margin-top: 4.5rem;
  }

  .bt-author-date {
    margin: 1.8rem 0;
  }
}
