@import '../../../styles/variables';

$front-top-section-height: 16.0rem;
$front-bottom-section-height: 4.0rem;

.lw-front-image {
  opacity: 0.33;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.lw-front-top {
  height: $front-top-section-height;

  .lw-card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.lw-front-bottom {
  height: $front-bottom-section-height;
}

.lw-back-all {
  height: $front-top-section-height + $front-bottom-section-height;
}

.lw-card-section {
  border: 1px solid black;
}

.lw-fill-section {
  height: 100%;
}

.lw-card-link {
  cursor: pointer;
}

.lw-gl-link {
  a {
    color: #e24329;
  }
}

.lw-gh-link {
  a {
    color: #6e5494;
  }
}

.lw-blog-link {
  a {
    color: black;
  }
}

.lw-demo-link {
  a {
    color: $success;
  }
}

.lw-card-ul {
  list-style: none;
  padding: 0;
}
