<app-flipcard [cardNum]="cardNum">

  <span front>
    <div class="container">
      <div class="row" (click)="onMouseClick()"
           (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <div *ngIf="cardInfo.image" class="col-12 lw-front-top lw-front-image"
             [style.background-image]="cardInfo.image">
        </div>
        <div class="col-12 lw-card-section lw-front-top">
          <div class="d-flex justify-content-center text-center lw-fill-section">
            <div class="align-self-center mt-3 lw-card-title">
              {{cardInfo.title}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 lw-card-section lw-front-bottom">
          <div class="d-flex justify-content-around text-center lw-fill-section">
            <span *ngIf="!cardInfo.buttons || cardInfo.buttons.length === 0"
                  class="d-flex justify-content-around w-50 h-100">
              <span class="align-self-center">
                {{cardInfo.emptyButtonsText}}
              </span>
            </span>
            <span *ngFor="let btn of cardInfo.buttons"
                  class="d-flex justify-content-around w-50 h-100 lw-card-link {{btn.extraStyling}}">
              <span class="align-self-center">
                <a [href]="btn.url">
                  <i class="fa {{btn.faImage}}" aria-hidden="true" style="font-size: 1.4rem;"></i>
                  {{btn.text}}
                </a>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </span>

  <span back>
    <div class="container" (click)="onMouseClick()"
         (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <div class="row">
        <div class="col-12 lw-card-section lw-back-all">
          <div class="d-flex justify-content-center text-center lw-fill-section">
            <div class="align-self-center mt-2">
              <ul class="lw-card-ul">
                <li *ngFor="let tool of cardInfo.tools">
                  {{tool}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </span>

</app-flipcard>
