<app-biz-card></app-biz-card>

<div class="row">
  <div class="col-md-12 text-left">
    <h3><strong>About Me:</strong></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-left">
    <p>
      My name is Hector Lovo and I am originally from Harrisonburg, VA.
      I graduated from the University of Virginia with Bachelor of Science
      in Computer Science.
    </p>
    <p>
      I have professional experience in developing
      <span class="lw-highlight">mobile apps.</span>
      More specifically, I have experience developing iOS apps
      using the programming languages, Objective-C and Swift.
    </p>
    <p>
      I have personal experience in developing
      <span class="lw-highlight">web apps</span>. I am currently
      working on finishing the development of this website
      <a href="https://www.lovohh.com">lovohh.com</a> so that
      I can showcase other web apps that I have worked on or am
      currently working on.
    </p>
    <p>
      I am currently looking for a backend developer position so
      that I can continue to improve my web app development abilities.
    </p>
  </div>
</div>
