<app-biz-card></app-biz-card>

<div class="row">
  <div class="col-md-12 text-left">
    <h3><strong>About Me:</strong></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-left">
    <p>
      My name is Hector Lovo and I graduated in May of 2015 from
      the University of Virginia (UVA). I graduated with a Bachelor
      of Science in Computer Science (BSCS).
    </p>
    <p>
      I have professional experience in developing mobile apps.
      More specifically, I have experience developing iOS apps
      with Objective-C and Swift.
    </p>
    <p>
      I have personal experience in developing web-apps. I am
      currently working on finishing the development of this
      website <a href="https://www.lovohh.com">lovohh.com</a> so
      that I can showcase other web-apps that I have worked on or
      am currently working on.
    </p>
    <p>
      Finally, as of recent, I have  been focusing on learning more
      about DevOps. I would be thrilled if given the opportunity to
      obtain professional experience in DevOps, web, or mobile
      development.
    </p>
  </div>
</div>
